In [64]:
from sqlalchemy import create_engine

In [67]:
engine = create_engine('postgresql://root:root@localhost:5005/oto_db')

In [68]:
conn = engine.connect()

In [69]:
import pandas as pd

In [70]:
# Sử dụng mediated schema khi đã dùng schema matching.
oto_data = pd.read_csv("/Users/yaya/Downloads/Data-Integration/WebScrapy/Crawl_Data/oto.csv")

In [71]:
oto_data.head()

,id,domain,url,crawled_date,ten,gia_ban,gia_lan_banh,nam_san_xuat,kieu_dang,tinh_trang,xuat_xu,tinh_thanh,quan_huyen,hop_so,nhien_lieu
0,acc62afb-acc4-42e6-9c76-1841afcbd9a2,oto.com.vn,https://oto.com.vn/mua-ban-xe-mitsubishi-xpand...,2022-06-25 17:10:22.258599,Mitsubishi Xpander AT Premium 2022 - 648 triệu,648 triệu,748.5 triệu,2022,MPV,Mới,Nhập khẩu,Hà Nội,Hà Đông,Số tự động,Xăng
1,95143243-094e-447c-b578-b0059a80ace8,oto.com.vn,https://oto.com.vn/mua-ban-xe-toyota-corolla-c...,2022-06-25 17:10:22.299600,Toyota Corolla Cross 1.8 G 2022 - 746 triệu,746 triệu,857.9 triệu,2022,SUV,Mới,Nhập khẩu,Hà Nội,NaN,Số tự động,Xăng
2,980abf95-af00-4753-a5fd-73b06246869b,oto.com.vn,https://oto.com.vn/mua-ban-xe-honda-city-hcm/k...,2022-06-25 17:10:22.309602,Honda City RS 2022 - 599 triệu,599 triệu,681.2 triệu,2022,Sedan,Mới,Trong nước,Tp.HCM,Tân Bình,Số tự động,Xăng
3,90a5e781-4217-45d8-b701-aa33a84e84a4,oto.com.vn,https://oto.com.vn/mua-ban-xe-vinfast-lux-a20-...,2022-06-25 17:10:22.324603,VinFast LUX A2.0 Tiêu chuẩn 2022 - 881.7 triệu,881.7 triệu,1 tỉ 010 triệu,2022,Sedan,Mới,Trong nước,Hà Nội,Nam Từ Liêm,Số tự động,Xăng
4,d5054e7d-853e-45d5-9bd8-61f5e6b530da,oto.com.vn,https://oto.com.vn/mua-ban-xe-ford-ranger-ha-n...,2022-06-25 17:10:22.335598,Ford Ranger XLS 2.2 4x2 AT 2022 - 662 triệu,662 triệu,712.8 triệu,2022,Pick-up Truck,Mới,Nhập khẩu,Hà Nội,Bắc Từ Liêm,Số tự động,Diesel

In [ ]:
oto_data.to_sql(name='oto', con=engine, if_exits='append')