## FlexMatcher

In [1]:
import flexmatcher
import pandas as pd

In [2]:
vals1 = [['year', 'Movie', 'imdb_rating'],
        ['2001', 'Lord of the Rings', '8.8'],
        ['2010', 'Inception', '8.7'],
        ['1999', 'The Matrix', '8.7']]
header = vals1.pop(0)
data1 = pd.DataFrame(vals1, columns=header)
# creating the second dataset
vals2 = [['title', 'produced', 'popularity'],
        ['The Godfather', '1972', '9.2'],
        ['Silver Linings Playbook', '2012', '7.8'],
        ['The Big Short', '2015', '7.8']]
header = vals2.pop(0)
data2 = pd.DataFrame(vals2, columns=header)
# specifying the mappings for the first and second datasets
data1_mapping = {'year': 'movie_year',
                 'imdb_rating': 'movie_rating',
                 'Movie': 'movie_name'}
data2_mapping = {'popularity': 'movie_rating',
                 'produced': 'movie_year',
                 'title': 'movie_name'}

In [3]:
data1

   year              Movie imdb_rating
0  2001  Lord of the Rings         8.8
1  2010          Inception         8.7
2  1999         The Matrix         8.7

In [4]:
data2

                     title produced popularity
0            The Godfather     1972        9.2
1  Silver Linings Playbook     2012        7.8
2            The Big Short     2015        7.8

In [14]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       3 non-null      object
 1   produced    3 non-null      object
 2   popularity  3 non-null      object
dtypes: object(3)
memory usage: 200.0+ bytes

In [6]:
schema_list = [data1, data2]
mapping_list = [data1_mapping, data2_mapping]
fm = flexmatcher.FlexMatcher(schema_list, mapping_list, sample_size=100)
fm.train()

Create training data ...
Training FlexMatcher ...
Training Completed ...

In [18]:
predicted_mapping = fm.make_prediction(data3)

/Users/yaya/.virtualenvs/hebela/lib/python3.9/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- classifier0movie_name
- classifier0movie_rating
- classifier0movie_year
- classifier1movie_name
- classifier1movie_rating
- ...
Feature names seen at fit time, yet now missing:
- classifer0movie_name
- classifer0movie_rating
- classifer0movie_year
- classifer1movie_name
- classifer1movie_rating
- ...

  warnings.warn(message, FutureWarning)
/Users/yaya/.virtualenvs/hebela/lib/python3.9/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- classifier0movie_name
- classifier0movie_rating
- classifier0movie_year
- classifier1movie_name
- classifier1movie_rating
- ...
Feature names seen at fit time, yet now missing:
- classifer0movie_name
- classifer0movie_rating
- classifer0movie_year
- classifer1movie_name
- classifer1movie_rating
- ...

  warnings.warn(message, FutureWarning)
/Users/yaya/.virtualenvs/hebela/lib/python3.9/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- classifier0movie_name
- classifier0movie_rating
- classifier0movie_year
- classifier1movie_name
- classifier1movie_rating
- ...
Feature names seen at fit time, yet now missing:
- classifer0movie_name
- classifer0movie_rating
- classifer0movie_year
- classifer1movie_name
- classifer1movie_rating
- ...

  warnings.warn(message, FutureWarning)

In [8]:
predicted_mapping

{'rt': 'movie_rating', 'id': 'movie_name', 'yr': 'movie_year'}

## Valentine

In [20]:
data1 = pd.read_csv("/Users/yaya/Downloads/Data-Integration/WebScrapy/Crawl_Data/oto.csv")
data2 = pd.read_csv("/Users/yaya/Downloads/Data-Integration/WebScrapy/Crawl_Data/anycar_bonbanh.csv")

In [21]:
data1.head(5)

,id,domain,url,crawled_date,ten,gia_ban,gia_lan_banh,nam_san_xuat,kieu_dang,tinh_trang,xuat_xu,tinh_thanh,quan_huyen,hop_so,nhien_lieu
0,acc62afb-acc4-42e6-9c76-1841afcbd9a2,oto.com.vn,https://oto.com.vn/mua-ban-xe-mitsubishi-xpand...,2022-06-25 17:10:22.258599,Mitsubishi Xpander AT Premium 2022 - 648 triệu,648 triệu,748.5 triệu,2022,MPV,Mới,Nhập khẩu,Hà Nội,Hà Đông,Số tự động,Xăng
1,95143243-094e-447c-b578-b0059a80ace8,oto.com.vn,https://oto.com.vn/mua-ban-xe-toyota-corolla-c...,2022-06-25 17:10:22.299600,Toyota Corolla Cross 1.8 G 2022 - 746 triệu,746 triệu,857.9 triệu,2022,SUV,Mới,Nhập khẩu,Hà Nội,NaN,Số tự động,Xăng
2,980abf95-af00-4753-a5fd-73b06246869b,oto.com.vn,https://oto.com.vn/mua-ban-xe-honda-city-hcm/k...,2022-06-25 17:10:22.309602,Honda City RS 2022 - 599 triệu,599 triệu,681.2 triệu,2022,Sedan,Mới,Trong nước,Tp.HCM,Tân Bình,Số tự động,Xăng
3,90a5e781-4217-45d8-b701-aa33a84e84a4,oto.com.vn,https://oto.com.vn/mua-ban-xe-vinfast-lux-a20-...,2022-06-25 17:10:22.324603,VinFast LUX A2.0 Tiêu chuẩn 2022 - 881.7 triệu,881.7 triệu,1 tỉ 010 triệu,2022,Sedan,Mới,Trong nước,Hà Nội,Nam Từ Liêm,Số tự động,Xăng
4,d5054e7d-853e-45d5-9bd8-61f5e6b530da,oto.com.vn,https://oto.com.vn/mua-ban-xe-ford-ranger-ha-n...,2022-06-25 17:10:22.335598,Ford Ranger XLS 2.2 4x2 AT 2022 - 662 triệu,662 triệu,712.8 triệu,2022,Pick-up Truck,Mới,Nhập khẩu,Hà Nội,Bắc Từ Liêm,Số tự động,Diesel

In [23]:
data2.drop(columns=['he_thong_nap_nhien_lieu', 'tieu_thu_nhien_lieu'], inplace=True)

In [24]:
data2.head()

,id,domain,url,crawled_date,ten,gia_ban,xuat_xu,tinh_trang,dong_xe,so_km_da_di,mau_ngoai_that,mau_noi_that,so_cua,so_cho_ngoi,nhien_lieu,hop_so,dan_dong,dung_tich_xi_lanh_
0,ded125d8-92c4-450c-b6b9-72423dd4e586,anycar.bonbanh.com,"https://anycar.bonbanh.com/chi-tiet-xe/id,4280...",2022-06-26 16:25:04.460613,Xe Mazda 3 1.5L Luxury 2020,676 Triệu,Lắp ráp trong nước,Xe đã dùng,Sedan,31445 Km,Trắng,Đen,4 cửa,5 chỗ,Xăng,Số tự động,FWD - Dẫn động cầu trước,1496 (cc)
1,bfe4eb89-b6c1-4787-a943-1f55c82644a1,anycar.bonbanh.com,"https://anycar.bonbanh.com/chi-tiet-xe/id,4248...",2022-06-26 16:25:04.492612,Xe Mazda 2 Luxury 2019,505 Triệu,Nhập khẩu,Xe đã dùng,Sedan,36000 Km,Trắng,Đen,4 cửa,5 chỗ,Xăng,Số tự động,FWD - Dẫn động cầu trước,1496 (cc)
2,03b531a7-2bea-4a77-a04c-6b5ec82d0fed,anycar.bonbanh.com,"https://anycar.bonbanh.com/chi-tiet-xe/id,4434...",2022-06-26 16:25:04.555614,Xe Toyota Vios 1.5E CVT 2018,446 Triệu,Lắp ráp trong nước,Xe đã dùng,Sedan,52560 Km,Trắng,Kem,4 cửa,5 chỗ,Xăng,Số tự động,FWD - Dẫn động cầu trước,1496 (cc)
3,d58e62be-03e6-4b94-96fd-23e99f1a1ac8,anycar.bonbanh.com,"https://anycar.bonbanh.com/chi-tiet-xe/id,4428...",2022-06-26 16:25:04.566613,Xe Honda Civic RS 1.5 AT 2019,735 Triệu,Nhập khẩu,Xe đã dùng,Sedan,28580 Km,Trắng,Đen,4 cửa,5 chỗ,Xăng,Số tự động,FWD - Dẫn động cầu trước,1498 (cc)
4,bb35ab9b-7dc5-4969-8d21-0958e6767a47,anycar.bonbanh.com,"https://anycar.bonbanh.com/chi-tiet-xe/id,4223...",2022-06-26 16:25:04.585614,Xe Kia Rondo DAT 2016,500 Triệu,Lắp ráp trong nước,Xe đã dùng,SUV,60465 Km,Trắng,Đen,5 cửa,7 chỗ,Diesel,Số tự động,FWD - Dẫn động cầu trước,1685 (cc)

In [36]:
from valentine import valentine_match
from valentine.algorithms import Coma, Cupid, DistributionBased, JaccardLevenMatcher, SimilarityFlooding

In [34]:
matcher = Coma(strategy="COMA_OPT")
matches = valentine_match(data1, data2, matcher, 'oto', 'anycar_bonbanh')

In [35]:
# Ta có thể thấy, phương pháp này không phát hiệm được "kieu_dang" và "dong_xe" matching với nhau.
matches

{(('oto', 'crawled_date'), ('anycar_bonbanh', 'crawled_date')): 0.81506306,
 (('oto', 'tinh_trang'), ('anycar_bonbanh', 'tinh_trang')): 0.8046722,
 (('oto', 'nhien_lieu'), ('anycar_bonbanh', 'nhien_lieu')): 0.8046722,
 (('oto', 'gia_ban'), ('anycar_bonbanh', 'gia_ban')): 0.7910509,
 (('oto', 'xuat_xu'), ('anycar_bonbanh', 'xuat_xu')): 0.7848733,
 (('oto', 'hop_so'), ('anycar_bonbanh', 'hop_so')): 0.77970636,
 (('oto', 'domain'), ('anycar_bonbanh', 'domain')): 0.7767652,
 (('oto', 'url'), ('anycar_bonbanh', 'url')): 0.74573076,
 (('oto', 'ten'), ('anycar_bonbanh', 'ten')): 0.74573076,
 (('oto', 'id'), ('anycar_bonbanh', 'id')): 0.7323208,
 (('oto', 'kieu_dang'), ('anycar_bonbanh', 'dan_dong')): 0.35712236}

In [41]:
# import nltk
# nltk.download('stopwords')
# nltk.download('omw-1.4')

matcher = Cupid()
matches = valentine_match(data1, data2, matcher, 'oto', 'anycar_bonbanh')

In [42]:
# Ta có thể thấy, phương pháp này không phát hiệm được "kieu_dang" và "dong_xe" matching với nhau.
matches

{(('oto', 'id'), ('anycar_bonbanh', 'id')): 1.0,
 (('oto', 'domain'), ('anycar_bonbanh', 'domain')): 1.0,
 (('oto', 'url'), ('anycar_bonbanh', 'url')): 1.0,
 (('oto', 'crawled_date'), ('anycar_bonbanh', 'crawled_date')): 1.0,
 (('oto', 'ten'), ('anycar_bonbanh', 'ten')): 1.0,
 (('oto', 'gia_ban'), ('anycar_bonbanh', 'gia_ban')): 1.0,
 (('oto', 'tinh_trang'), ('anycar_bonbanh', 'tinh_trang')): 1.0,
 (('oto', 'xuat_xu'), ('anycar_bonbanh', 'xuat_xu')): 1.0,
 (('oto', 'hop_so'), ('anycar_bonbanh', 'hop_so')): 1.0,
 (('oto', 'nhien_lieu'), ('anycar_bonbanh', 'nhien_lieu')): 1.0,
 (('oto', 'tinh_thanh'), ('anycar_bonbanh', 'tinh_trang')): 0.8533333333333333,
 (('oto', 'gia_lan_banh'), ('anycar_bonbanh', 'gia_ban')): 0.8156190476190477,
 (('oto', 'id'), ('anycar_bonbanh', 'domain')): 0.7,
 (('oto', 'domain'), ('anycar_bonbanh', 'id')): 0.7,
 (('oto', 'gia_ban'), ('anycar_bonbanh', 'dan_dong')): 0.7}

In [44]:
matcher = DistributionBased()
matches = valentine_match(data1, data2, matcher, 'oto', 'anycar_bonbanh')

/Users/yaya/.virtualenvs/hebela/lib/python3.9/site-packages/numpy/core/_methods.py:44: RuntimeWarning: invalid value encountered in reduce
  return umr_minimum(a, axis, None, out, keepdims, initial, where)

In [45]:
# Ta có thể thấy, phương pháp này phát hiệm được "kieu_dang" và "dong_xe" matching với nhau.
matches

{(('oto', 'hop_so'), ('anycar_bonbanh', 'hop_so')): 0.9672788744207454,
 (('oto', 'kieu_dang'), ('anycar_bonbanh', 'dong_xe')): 0.9357083890546022,
 (('oto', 'nhien_lieu'), ('anycar_bonbanh', 'nhien_lieu')): 0.9322022907368283}

In [46]:
matcher = JaccardLevenMatcher()
matches = valentine_match(data1, data2, matcher, 'oto', 'anycar_bonbanh')

In [47]:
matches

{(('oto', 'hop_so'), ('anycar_bonbanh', 'hop_so')): 0.6666666666666666,
 (('oto', 'nhien_lieu'), ('anycar_bonbanh', 'nhien_lieu')): 0.6666666666666666,
 (('oto', 'kieu_dang'), ('anycar_bonbanh', 'dong_xe')): 0.36363636363636365,
 (('oto', 'xuat_xu'), ('anycar_bonbanh', 'xuat_xu')): 0.3333333333333333,
 (('oto', 'gia_lan_banh'),
  ('anycar_bonbanh', 'gia_ban')): 0.046511627906976744,
 (('oto', 'gia_ban'), ('anycar_bonbanh', 'gia_ban')): 0.04}

In [48]:
matcher = SimilarityFlooding()
matches = valentine_match(data1, data2, matcher, 'oto', 'anycar_bonbanh')

In [58]:
for key, value in matches.items():
    # print(value)
    if value > 0.1:
        print(key)

(('oto', 'crawled_date'), ('anycar_bonbanh', 'crawled_date'))
(('oto', 'id'), ('anycar_bonbanh', 'id'))
(('oto', 'domain'), ('anycar_bonbanh', 'domain'))
(('oto', 'url'), ('anycar_bonbanh', 'url'))
(('oto', 'ten'), ('anycar_bonbanh', 'ten'))
(('oto', 'gia_ban'), ('anycar_bonbanh', 'gia_ban'))
(('oto', 'tinh_trang'), ('anycar_bonbanh', 'tinh_trang'))
(('oto', 'xuat_xu'), ('anycar_bonbanh', 'xuat_xu'))
(('oto', 'hop_so'), ('anycar_bonbanh', 'hop_so'))
(('oto', 'nhien_lieu'), ('anycar_bonbanh', 'nhien_lieu'))
(('oto', 'tinh_thanh'), ('anycar_bonbanh', 'tinh_trang'))
(('oto', 'gia_lan_banh'), ('anycar_bonbanh', 'gia_ban'))

In [1]:
import pandas as pd

In [2]:
oto_data = pd.read_csv('/Users/yaya/Downloads/Data-Integration/WebScrapy/oto.csv')

In [18]:
oto_data.kieu_dang.unique().tolist()

['Sedan',
 'MPV',
 'SUV',
 'Pick-up Truck',
 nan,
 'Hatchback',
 'Van/Minivan',
 'Truck',
 'Sport Car',
 'Coupe',
 'CUV',
 'Convertible',
 'Special Purpose',
 'City Car']

In [22]:
import numpy as np
oto_data[oto_data.kieu_dang == 'City Car']

,id,domain,url,crawled_date,ten,gia_ban,gia_lan_banh,nam_san_xuat,kieu_dang,tinh_trang,xuat_xu,tinh_thanh,hop_so,nhien_lieu,mo_ta
623,03df030a-fd30-41fc-af55-a0d4a054d27e,oto.com.vn,https://oto.com.vn/mua-ban-xe-fiat-500-ha-noi/...,2022-06-29 09:20:49.009892,Fiat 500 2009 - 430 triệu,430 triệu,458.6 triệu,2009,City Car,Đã qua sử dụng,Nhập khẩu,Hà Nội,Số tự động,Xăng,Xe đồ chơi. Đi cafe thì đúng hết bài. ...

In [15]:
https://oto.com.vn/mua-ban-xe-fiat-500-ha-noi/xe-gia-dinh-gia-430tr-aidxc22438383

float